body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto';
}

.section1 {
    display: flex;
    flex-direction: column;
    padding: 0px 15vw 40px;
    background-color: #1f2937;
    color: white;
}

.section1-content {
display: flex;
justify-content: center;
}

.hero-main {
    font-size: 48px;
    color: #f9FAF8;
    font-weight: 900;
    margin: 0;
}

.hero-secondary, .header-links {
    font-size: 18px;
    color: #E5E7EB;
}

.hero-secondary {
    margin: 0 0 10px;
}

.section1-text {
    display: flex;
    flex-direction: column;
    width: 300px;
    flex-grow: 1;
}

button {
    background-color: #3882F6;
    font-size: 18px;
    color: white;
    width: 7em;
    height: 2em;
    border-radius: 10px;
    border: none;
}

.image-placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    background-color: #6d747e;
    flex-grow: 1;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    font-weight: 900;
    font-size: 24px;
    color: #f9FAF8;
}

.header-links {
    display: flex;
    list-style: none;
}

.header-links li {
    margin-left: 15px;
}

.section2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #1f2937;
    font-size: 36px;
    font-weight: 900;

}

.squares {
    display: flex;
}

.card {
    display: flex;
    flex-direction: column;
    width: 175px;
    margin: 20px;
    font-size: 18px;
    font-weight: 400;
    color: #6d747e;
}

.card-text {
    /* display: flex; */
    text-align: center;
}

.square {
    height: 175px;
    width: auto;
    border:solid 5px #3b82f6;
    border-radius: 20px;
}